@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-rochester antialiased bg-background text-foreground;
  }
}